<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		       <h3 class="panel-title"><%= @training.title %></h3>
		    </div>
			<div class="panel-body">
				<p><strong>Trainer:</strong> <%= @training.trainer %></p>
				<p><strong>Date:</strong> <%= @training.training_datetime.to_date %></p>
				<p><strong>Time:</strong><%= training_duration(@training.training_datetime,@training.duration) %></p>
				<p><strong>Location:</strong> <%= @training.location%></p>
			</div>
		</div>
		<% if session[:request_from] == 'list_training' %>
			<%= link_to 'Back',list_training_trainings_path, class:'btn btn-primary'%>
		<% elsif session[:request_from] == 'create' %>
			<%= link_to 'Back',trainings_path, class:'btn btn-primary'%>
		<% else %>
			<%= link_to 'Back',:back, class:'btn btn-primary'%>
		<%end%>
	</div>
</div>