<table>
<tr><td>Id: <%= @user.id %> </td></tr>
<tr><td>Username: <%= @user.username %></td></tr>
<tr><td>First name: <%= @user.first_name %></td></tr>
<tr><td>Last name: <%= @user.last_name %></td></tr>
<tr><td>Location: <%= @user.place %></td></tr>
<tr><td>Role: <%= @user.role %></td></tr>
<tr><td>Date of Birth: <%= @user.dob %></td></tr>
</table>
<%= link_to 'OK',list_users_path%>