<div class="panel panel-default">
	<div class="panel-heading">
        <h3 class="panel-title"><strong>Latest Projects</strong></h3>
    </div>
    <div class="panel-group" id="accordion">
       <% @projects.each do |project| %>
		
		    <div class="panel panel-default">
		      	<div class="panel-heading">
			        <h5 class="panel-title">
			          <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%=project.id%>"><%= project.project_name%></a>
			        </h5>
		      	</div>
		    	<div id="collapse_<%=project.id%>" class="panel-collapse collapse">
		    		<div class="panel-body">
			    		<p><%= project.client %></p>
			    		<p><%= project.description %></p>
		    		</div>
				</div>
		    </div>
		
        <% end %>
    </div>
</div>